<!-- top tiles -->
<div xmlns:th="http://www.thymeleaf.org" th:if="${not #lists.isEmpty(userServers)}">
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-hdd"></i> Total Storage</span>
            <!--/*@thymesVar id="serverDetails" type="com.servervaletdev.model.Server"*/-->
            <div class="count" th:text="${#strings.concat(serverDetails.getTotalStorageMemory(), ' GB')}"></div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-hdd"></i> Used Storage</span>
            <!--/*@thymesVar id="serverDetails" type="com.servervaletdev.model.Server"*/-->
            <div th:class="'count ' + ${usedStoragePercentage < 50 ? 'green' : (usedStoragePercentage >= 50 && usedStoragePercentage < 70 ? 'yellow' : 'red')}" th:text="${#strings.concat(serverDetails.getUsedStorageMemory(), ' GB')}"></div>
            <!--/*@thymesVar id="usedStoragePercentage" type="Double"*/-->
            <span class="count_bottom"><i th:class="${usedStoragePercentage < 50} ? 'green' : (${usedStoragePercentage >= 50 && usedStoragePercentage < 70} ? 'yellow' : 'red') "><i
                    th:class="'fa fa-sort-' + ${usedStoragePercentage < 50 ? 'up' : 'down'}"></i><span th:text="${#numbers.formatDecimal(usedStoragePercentage, 0, 2)} + '%'"></span> </i> of Total Storage</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock"></i> Uptime</span>
            <!--/*@thymesVar id="serverDetails" type="com.servervaletdev.model.Server"*/-->
            <div class="count" th:text="${serverDetails.getTotalUptime()} + ' h'"></div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-memory"></i> Used RAM</span>
            <!--/*@thymesVar id="serverDetails" type="com.servervaletdev.model.Server"*/-->
            <div class="count" id="used-ram" style="font-size:30px;" th:text="${serverDetails.getUsedRamMemory()} + ' MB'"></div>
            <span class="count_bottom"><i id="ram-percentage-color" class="red"><i id="ram-percentage-icon"
                                                                                   class="fa fa-sort-down"></i><span id="percentage-ram">0%</span></i> <span style="font-size:12px;">Of Total RAM Memory</span></span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Connected Users</span>
            <!--/*@thymesVar id="serverDetails" type="com.servervaletdev.model.Server"*/-->
            <div class="count" th:text="${serverDetails.getConnectedUsers()}" id="connected-users"></div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-cogs"></i> Active Processes</span>
            <div class="count" id="active-processes">0</div>
        </div>
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>CPU</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <ul class="quick-list">
                            <li>
                                <i class="fa fa-bars"></i>Cpu Name:
                            </li>
                            <!--/*@thymesVar id="serverDetails" type="com.servervaletdev.model.Server"*/-->
                            <li style="font-size: 0.883em;" th:text="${serverDetails.getCpuName()}"></li>
                        </ul>

                        <div class="sidebar-widget">
                            <h4>CPU Usage</h4>
                            <canvas width="150" height="80" id="cpu-usage" class=""
                                    style="width: 160px; height: 100px;"></canvas>
                            <div class="goal-wrapper">
                                <span id="cpu-value" class="gauge-value pull-left">0</span>
                                <span class="gauge-value pull-left">%</span>
                                <span id="goal-text" class="goal-value pull-right">100%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>RAM</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <ul class="quick-list">
                            <li>
                                <i class="fa fa-bars"></i>Memory
                            </li>
                            <!--/*@thymesVar id="serverDetails" type="com.servervaletdev.model.Server"*/-->
                            <li style="font-size: 0.883em;" th:text="${serverDetails.getTotalRamMemory()}"></li>
                        </ul>

                        <div class="sidebar-widget">
                            <h4>RAM Usage</h4>
                            <canvas width="150" height="80" id="ram-usage" class=""
                                    style="width: 160px; height: 100px;"></canvas>
                            <div class="goal-wrapper">
                                <span id="ram-value" class="gauge-value pull-left">0</span>
                                <span class="gauge-value pull-left">%</span>
                                <span class="goal-value pull-right">100%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.onreadystatechange = function () {
            $(function () {
                var chartGaugeSettings = {
                    lines: 12,
                    angle: 0,
                    lineWidth: 0.4,
                    pointer: {
                        length: 0.75,
                        strokeWidth: 0.042,
                        color: '#1D212A'
                    },
                    limitMax: 'false',
                    colorStart: '#1ABC9C',
                    colorStop: '#1ABC9C',
                    strokeColor: '#F0F3F3',
                    generateGradient: true
                };


                if ($('#cpu-usage').length) {
                    var cpuUsage = document.getElementById('cpu-usage');
                    var cpuUsageChart = new Gauge(cpuUsage).setOptions(chartGaugeSettings);
                }


                if ($('#cpu-value').length) {
                    cpuUsageChart.maxValue = 100;
                    cpuUsageChart.animationSpeed = 32;
                    cpuUsageChart.set(0);
                    cpuUsageChart.setTextField(document.getElementById("cpu-value"));
                }

                if ($('#ram-usage').length) {
                    var ramUsage = document.getElementById('ram-usage');
                    var ramUsageChart = new Gauge(ramUsage).setOptions(chartGaugeSettings);
                }


                if ($('#ram-value').length) {
                    ramUsageChart.maxValue = 100;
                    ramUsageChart.animationSpeed = 32;
                    ramUsageChart.set(0);
                    ramUsageChart.setTextField(document.getElementById("ram-value"));
                }

                reloadBlocks();

                setInterval(function() { reloadBlocks() }, 2000);

                function reloadBlocks() {
                    var serverDetails;

                    $.get( "/user/server_details", function(data) {
                        serverDetails = data;
                        var usedRamMemoryPercentage = serverDetails.usedRamMemory/serverDetails.totalRamMemory*100;

                        cpuUsageChart.set(serverDetails.usedCpuPercentage);
                        ramUsageChart.set(usedRamMemoryPercentage);

                        document.getElementById("active-processes").innerHTML = serverDetails.activeProcesses;
                        document.getElementById("used-ram").innerHTML = serverDetails.usedRamMemory + " MB";
                        document.getElementById("percentage-ram").innerHTML = usedRamMemoryPercentage.toPrecision(2) + " %";
                        document.getElementById("connected-users").innerHTML = serverDetails.connectedUsers;

                        var ramPercentageIcon = document.getElementById("ram-percentage-icon");
                        var ramPercentageColor = document.getElementById("ram-percentage-color");

                        if (usedRamMemoryPercentage <= 70) {
                            ramPercentageColor.className = "green";
                            ramPercentageIcon.className = "fa fa-sort-up";
                        } else {
                            ramPercentageColor.className = "red";
                            ramPercentageIcon.className = "fa fa-sort-down";
                        }
                    });
                }
            });
        }
    </script>
</div>

<div xmlns:th="http://www.thymeleaf.org" th:if="${#lists.isEmpty(userServers)}">
    <div class="modal fade" id="alert-message" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Incomplete Set-up</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert">
                        <p>To make use of this panel, please complete the Set-up step with your server
                            credentials</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-4">
                            <a type="button" th:href="@{/logout}" class="btn btn-primary">Logout</a> <a
                                type="button"
                                th:href="@{/account/setup}"
                                class="btn btn-success">Set-up</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        document.onreadystatechange = function () {
            $(function () {
                //$("#alert-message").modal('show');
                $("#alert-message").modal({backdrop: 'static', keyboard: false});
            });
        }
    </script>
</div>
